@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

.cart{
    padding: 30px;
    position: relative;
    &-empty{
        &-close{
            align-self: center;
            justify-self: end;
            width: 16px;
            height: 16px;
            margin-bottom: 5px;
        }
    }
    &-container{
        border: 1px solid #e5e5e5;
        border-radius: 6px;
        display: block;
        animation: fade-in 500ms forwards;
    }
}

.close {
    border: none;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

@media(min-width: 768px){
    .cart{
        padding: 30px 60px;
        &-empty{
            padding: 20px;
            &-title{
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}

@media(min-width: 1024px){
    .cart{
        padding: 30px 75px;
        &-empty{
            grid-template-columns: 0.5fr 6fr 1fr;
            &-title{
                font-size: 16px;
                line-height: 30px;
            }
        }
        &-top-infromation{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
            &-titles{
                font-size: 16px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                padding: 10px 0;
            }
            &-product{
                grid-column: 2/3;
                justify-self: center;
            }
            &-price{
                justify-self: center;
            }
            &-quantity{
                justify-self: center;
            }
            &-subtotal{
                justify-self: center;
            }
        }
    }
}

@media(min-width: 1440px){
    .cart{
        padding: 30px 100px;
    }
}

@media(min-width: 1660px){
    .cart{
        padding: 30px 300px;
        &-empty{
            grid-template-columns: 0.3fr 6fr 1fr;
        }
    }
}