@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

.cart{
    padding: 30px;
    &-empty{
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        align-items: center;
        background: #ffe38b;
        padding: 10px;
        &-lightbulb{
            justify-self: start;
            width: 32px;
            height: 32px;
        }
        &-title{
            color: #9b812e;
            font-size: 13px;
            line-height: 19px;
            font-family: "Inter", Helvetica, Arial, sans-serif;
        }
        &-close{
            justify-self: end;
            width: 16px;
            height: 16px;
        }
    }
    &-container{
        border: 1px solid #e5e5e5;
        border-radius: 6px;
    }
    &-item{
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
        &-title{
            &-title{
                color: #ff5f1e;
                font-weight: 700;
            }
        }
        &-containers{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 10px;
            padding: 10px 0;
            border-bottom: 1px solid #e5e5e5;
            &-information{
                justify-self: end;
                font-size: 14px;
                font-family: 'Inter', sans-serif;
            }
            &-names{
                font-size: 14px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
            }
        }
        &-delete-btn{
            display: block;
            background-color: #ff5f1e;
            border: none;
            cursor: pointer;
            outline: none;
            color: #fff;
            font-family: 'Inter', sans-serif;
            padding: 15px;
            border-radius: 12px;
            margin-left: 85%;
        }
    }
    &-return-to-shop-btn{
        margin-top: 20px;
        color: #ffffff;
        background-color: #ff5f1e;
        border-color: transparent;
        font-family: Comfortaa;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 15px 30px 15px 30px;
        border-width: 0px;
        border-radius: 30px;
        cursor: pointer;
    }
}

@media(min-width: 768px){
    .cart{
        padding: 30px 60px;
        &-empty{
            padding: 20px;
            &-title{
                font-size: 14px;
                line-height: 26px;
            }
        }
        &-item{
            &-delete-btn{
                margin-left: 94%;
            }
        }
    }
}

@media(min-width: 1024px){
    .cart{
        padding: 30px 75px;
        &-empty{
            grid-template-columns: 0.5fr 6fr 1fr;
            &-title{
                font-size: 16px;
                line-height: 30px;
            }
        }
        &-top-infromation{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
            &-titles{
                font-size: 16px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                padding: 10px 0;
            }
            &-product{
                grid-column: 2/3;
                justify-self: center;
            }
            &-price{
                justify-self: center;
            }
            &-quantity{
                justify-self: center;
            }
            &-subtotal{
                justify-self: center;
            }
        }
        &-item{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            &-img{
                padding: 20px;
                width: 100%;
                height: 100%;
                background-position: center center;
                justify-self: center;
            }
            &-title{
                color: #ff5f1e;
                font-size: 14px;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                justify-self: center;
            }
            &-text-content{
                font-size: 18px;
                font-family: 'Inter', sans-serif;
                justify-self: center;
            }
            &-quantity{
                background-color: #e5e5e5;
                padding: 20px;
                border-radius: 12px;
            }
            &-delete-btn{
                margin: 0;
                width: 40%;
                font-size: 18px;
                font-family: 'Inter', sans-serif;
                justify-self: center;
            }
        }
    }
}

@media(min-width: 1440px){
    .cart{
        padding: 30px 100px;
        &-item{
            &-img{
                height: 160px;
                width: 160px;
            }
        }
    }
}

@media(min-width: 1660px){
    .cart{
        padding: 30px 300px;
        &-empty{
            grid-template-columns: 0.3fr 6fr 1fr;
        }
    }
}