@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

.parts-output{
    padding: 0 30px;
}

.parts-item{
    &-img{
        overflow: hidden;
        position: relative;
        & img{
            width: 100%;
            scale: 1;
            transition: scale .3s ease-in-out;
            &:hover{
                scale: 1.1;
                transition: scale .3s ease-in-out;
            }
        }
        &-buttons{
            opacity: 0;
            transition: opacity .3s ease-in-out;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &-btn{
                cursor: pointer;
                background-color: #d3521e;
                padding: 9px;
                outline: none;
                border: none;
                &-link{
                    border-left: 1px solid #f18a5f;
                }
            }
        }
        &:hover &-buttons{
            opacity: 1;
            transition: opacity .3s ease-in-out;
        }
    }
    &-title{
        font-size: 13px;
        line-height: 19px;
        font-family: "Comfortaa", Helvetica, Arial, sans-serif;
        margin-top: 10px;
    }
    &-price{
        color: #ff5f1e;
        font-size: 20px;
        font-family: "Inter", Helvetica, Arial, sans-serif;
        margin-top: 10px;
        margin-bottom: 15px;
        & span{
            padding-right: 10px;
        }
    }
    &-product-information{
        font-size: 13px;
        line-height: 19px;
        font-family: "Inter", Helvetica, Arial, sans-serif;
    }
    &-manufacturer{
        margin-bottom: 20px;
    }
}

@media(min-width: 768px){
    .parts-output{
        padding: 0 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .parts-item{
        &-title{
            font-size: 18px;
            line-height: 26px;
        }
        &-product-information{
            font-size: 14px;
            line-height: 26px;
        }
        &-manufacturer{
            margin-bottom: 0px;
        }
    }
}

@media(min-width: 1024px){
    .parts-output{
        padding: 0 75px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    .parts-item{
        &-title{
            font-size: 21px;
            line-height: 31px;
        }
        &-product-information{
            font-size: 16px;
            line-height: 30px;
        }
        &-manufacturer{
            margin-bottom: 20px;
        }
    }
}

@media(min-width: 1440px){
    .parts-output{
        padding: 0 100px;
    }
}

@media(min-width: 1660px){
    .parts-output{
        padding: 0 300px;
    }
}