@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.useful-information {
    background-color: #111111;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    &-contacts {
        color: #cccccc;
        text-align: center;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        &-description {
            margin-bottom: 15px;
        }
        &-phonenumber {
            margin-bottom: 5px;
        }
        &-email {
            margin-bottom: 50px;
        }
    }
    &-title {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 20px;
    }
    &-list-item {
        text-align: center;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        margin-bottom: 5px;
        font-size: 14px;
        & a {
            color: #898989;
            text-decoration: none;
        }
        & span {
            color: #898989;
            margin-right: 5px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
        &:hover {
            text-decoration: underline;
            & a {
                color: #ff5f1e;
            }
        }
    }
}

.with-big-pad{
    padding-top: 250px;
}

.without-big-pad {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .useful-information {
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
        &-contacts {
            grid-row: 1/3;
            font-size: 15px;
            line-height: 25px;
            text-align: left;
            &-description {
                margin-bottom: 15px;
            }
            &-phonenumber {
                margin-bottom: 5px;
            }
            &-email {
                margin-bottom: 50px;
            }
        }
        &-customer-service {
            grid-column: 3/4;
            grid-row: 1/3;
        }
        &-title {
            text-align: left;
            font-size: 14px;
            margin-bottom: 20px;
        }
        &-list-item {
            text-align: left;
            margin-bottom: 10px;
            font-size: 15px;
            & span {
                margin-right: 7px;
            }
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }

    .without-big-pad {
        padding-top: 50px;
    }

    .with-big-pad{
        padding-top: 250px;
    }
}

@media (min-width: 1024px) {
    .useful-information {
        padding-right: 75px;
        padding-left: 75px;
        &-title {
            color: #fff;
            text-align: left;
            font-size: 15px;
        }
        &-list-item {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    .without-big-pad {
        padding-top: 60px;
    }
}

@media (min-width: 1440px) {
    .useful-information {
        padding-right: 120px;
        padding-left: 120px;
        grid-gap: 30px;
        &-contacts {
            padding-right: 30px;
            font-size: 17px;
            padding-left: 25px;
        }
    }
}

@media (min-width: 1660px) {
    .useful-information {
        padding-right: 240px;
        padding-left: 240px;
        grid-gap: 30px;
        &-contacts {
            padding-left: 130px;
            font-size: 17px;
        }
    }

    .with-big-pad{
        padding-top: 250px;
    }
}
