* {
    box-sizing: border-box;
}

.header {
    height: 40vh;
    background-color: #111111;
    margin-bottom: 130px;
}

@media (min-width: 768px) {
    .header {
        height: 80vh;
        margin-bottom: 160px;
    }
}

@media (min-width: 1024px) {
    .header {
        height: 60vh;
        margin-bottom: 190px;
    }
}

@media (min-width: 1440px) {
    .header {
        height: 90vh;
        margin-bottom: 220px;
    }
}

@media (min-width: 1660px) {
    .header {
        height: 75vh;
        margin-bottom: 250px;
    }
}
